/* 
Project Name: Monthly Resolutions
Client: One Month

/*----------------------------------------------------------------------------- 
01=BASE   
-----------------------------------------------------------------------------*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

.clear {
	clear: both;
}
.h4
{
     margin: 0;
}
.xsize
{
     font-size: xxx-large;
     margin: 0;
}
.size
{
     font-size: large;
     
     
}
.head
{
     margin: auto;
     text-align: left;
}
.container
{
     width: 1000px;
     margin: auto;
     font-style: inherit;
}
.bkgrd
{
     background-image: linear-gradient(to right,#000428 , #052847);
} 
.header
{
     border-radius: 25px;
     margin-bottom: 20px;
     background-image: linear-gradient(to right, #ff5f6d , #ffc371);
}
.main
{
     background: whitesmoke;
     background-image: linear-gradient(to right, #ff5f6d , #ffc371);
     border-radius: 25px;
     float: left;
     width: 600px;
     padding: auto;
     justify-content: center;
}
.padding-64
{
     padding: 20px;
}
.sidebar
{
     background-color: whitesmoke;
     background-image: linear-gradient(to right, #ff5f6d , #ffc371);
     width: 325px;
     border-radius: 25px;
     float: left;
     margin: 15px;
     padding: 15px 30px 15px 30px;
     margin-top: 0px;
}
.footer
{
     display: flex;
     margin-left: 200px;
     width: 1000px;
}
.font
{
     font-weight: bold;
     font-size: small;
}
.h6
{
     margin: 10px;
     font-size: smaller;
}
.radius
{
     border-radius: 100px;
}
.vl
{
     border-left: 5px solid grey;
     padding-left: 6px;
     height: auto;
}
.li,a
{
     color: orangered;
     text-decoration: none;
}
.icon
{
     width: 18px;
     height: 18px;
     margin-left:10px;
}
.photo
{
     border-radius: 25px;
}
